#scope {
    display: block;
    justify-items: center;
    margin: 0 auto;
    margin-top: 10px;
}
#submit, select, table {
    display: block;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    margin: 0 auto;
    margin-top: 10px;
}

#main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}


body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(48,52,63);
}

.hidden {
    display: none;
}

#results-bg, #results {
    width: 100%
}

#results p, span {
    display: inline-block;
    width: 49%;
    text-align: center;
    color: lightslategray;
}
/* 
select {
    margin: 10px;
    margin-bottom: 8px;
    margin-top: 8px;
} */

#comp-bg {
    width: 100%;
}