#scope {
    display: block;
    justify-items: center;
    margin: 0 auto;
    margin-top: 10px;
}
#submit, select, #selectors {
    display: block;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    margin: 0 auto;
    margin-top: 10px;
}

#main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}


body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(48,52,63);
}

.hidden {
    display: none;
}

#comp-bg {
    width: 100%;
}